<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35482363477-mi9frn0j06e53133i66e4fg8smlt9hsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35482363477-mi9frn0j06e53133i66e4fg8smlt9hsk</string>
	<key>API_KEY</key>
	<string>AIzaSyA_68FplyeEHX8lshfaRUBSQiIy2SUGelE</string>
	<key>GCM_SENDER_ID</key>
	<string>35482363477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wtaApp</string>
	<key>PROJECT_ID</key>
	<string>senior-project-d74ff</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-project-d74ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35482363477:ios:4615b8ba20d719579c16dc</string>
	<key>DATABASE_URL</key>
	<string>https://senior-project-d74ff-default-rtdb.firebaseio.com</string>
</dict>
</plist>